
testApp1/.DS_Store
testApp1/testApp1.xcodeproj/project.xcworkspace/xcuserdata/philgo.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
*.xcuserstate
testApp1/testApp1.xcodeproj/project.xcworkspace/xcuserdata/philgo.xcuserdatad/UserInterfaceState.xcuserstate
testApp1/testApp1.xcodeproj/project.xcworkspace/xcuserdata/philgo.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
testApp1/.DS_Store
testApp1/testApp1.xcodeproj/project.xcworkspace/xcuserdata/philgo.xcuserdatad/UserInterfaceState.xcuserstate
